@model Eve.Models.Graph

<div class="col-md-4">
    <div style="border: 1px solid #dfdfdf; border-radius: 10px; margin: 0.5em; padding: 2em 1em; margin-top: 2em;">
        <canvas id="@Model.Id.ToString()"></canvas>
    </div>
</div>

<script>
$('document').ready(function() {
  const labels = [
    @Html.Raw(Model.Labels)
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: '@(Model.Title)',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: @Model.Data,
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };

  new Chart(
    document.getElementById('@Model.Id.ToString()'),
    config
  );
});
</script>